.log {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conLog {
  position: relative;
  overflow: hidden;
  /* margin-top: -10vh; */
}

.conLog .containerdir {
  width: 80vw;
  height: 75vh;
  background-color: #fff;
  border-radius: 1.5vw;
  clip-path: polygon(0 0, 15% 0, 20% 9%, 95% 9%, 100% 14%, 100% 100%, 0 100%);
}

.conLog .square {
  width: 8vw;
  height: 10vw;
  position: absolute;
  background-color: #f009;
  z-index: 3;
  border-radius: 1vw;
  transform: rotate(60deg);
}

.conLog .square1 {
  right: -4vw;
  top: 40vh;
}

.conLog .square2 {
  right: -2vw;
  top: 50vh;
}

.conLog .square3 {
  right: 0;
  top: 60vh;
}

.conLog .dir {
  width: 80vw;
  height: 69vh;
  background-color: #fff;
  border-radius: 1.5vw;
  position: absolute;
  top: 5.9vh;
  z-index: 2;
  overflow: hidden;
  padding: 2vw;
}

.conLog h3 {
  text-align: center;
  color: #fff;
  margin-top: 2vw;
  font-size: xx-large;
}
.conLog .principale {
  /* width: 100%; */
  /* height: 40%; */
  padding: 60px 0px;
}
.conLog .principale .box {
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
  position: relative;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: auto;
  width: 65vw;
  min-width: 500px;
  clip-path: polygon(36% 0%, 47% 9%, 100% 9%, 100% 100%, 0% 100%, 0% 0%);
}
.conLog .principale .box .clip_bas {
  border: solid 1px black;
  border-radius: 10%;
  margin-left: -25vw;
  margin-top: 2%;
  padding: 1.4%;
  width: 29%;
  font-weight: bold;
  clip-path: polygon(60% 0%, 110% 75%, 110% 160%, 0% 160%, 0% 0%);
}
.conLog .principale .box .table {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px 2px 0px;
  margin-top: 3vw;
  width: 100%;
  overflow: hidden;
}
.conLog .principale .box .table .th {
  margin-top: auto;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 25px;
  position: relative;
}
.conLog .principale .box .table .th0 {
  left: -9vw;
  background-color: rgb(233, 8, 8);
}
.conLog .principale .box .table .th1 {
  left: 17vw;
  background-color: rgb(233, 8, 8);
}
.conLog .principale .box .table .th3 {
  background-color: #000;
  font-size: large;
}
.conLog .principale .box .table .th0 .contenu {
  margin-left: 19vw;
}
.conLog .principale .box .table .th1 .contenu {
  margin-left: -8vw;
}
.conLog .principale .box .table .tr {
  margin: 15px 0px;
}
.conLog .principale .box .table .tr:last-child {
  margin-bottom: 150px;
}
.conLog .principale .box .table .th .contenu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  padding: 10px 30px;
  background-color: #080808;
  border-radius: inherit;
}
.conLog .principale .box .table .tr .contenu {
  background-color: rgb(233, 8, 8);
}
.conLog .principale .box .table .th .contenu h1 {
  color: #fff;
  font-size: 89%;
}
.conLog .principale .box .table .th .actions {
  background-color: #e90808;
  width: 20%;
  padding: 10px 30px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
}
.conLog .principale .box .table .tr .actions {
  background-color: #f00;
}
.conLog .principale .box .table .th .actions h1 {
  color: #fff;
  text-align: center;
  font-size: large;
}
