.container-notification {
  position: absolute;
  top: 10vh;
  right: 0;
  width: 25vw;
  height: 90vh;
  border-radius: 10px;
  background-color: #e7dfdf;
  transition: all 0.3s ease-in-out;
  font-weight: bolder;
  z-index: 20;
  padding: 2vh;
}

.container-notification .notif-title {
  font-size: 1.2vw;
  border: 0.1vw solid #190306;
  padding: 0.5vh 2vw;
  border-radius: 5vw;
  width: 13vw;
  color: #190306;
}
.container-notification .all-notif {
  position: relative;
  top: 30px;
  left: 0;
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding: 1vh;
}
.container-notification .all-notif::-webkit-scrollbar {
  width: 0.3vw;
  margin: 0 1vw;
}

.container-notification .all-notif::-webkit-scrollbar-track {
  background: #555;
  border-radius: 1vw;
}
.container-notification .all-notif::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 1vw;
}
.container-notification .all-notif .notif {
  height: 5vw;
  margin: 1vh;
  background-color: #fff;
}

.container-notification .all-notif .notif span {
  position: absolute;
  top: 0px;
  right: 5px;
}

.container-notification .all-notif .notif .notif-deco {
  width: 10px;
  height: 100%;
  background-color: red;
}
.container-notification .all-notif .notif .notif-content {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
