* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pop;
}

@font-face {
  font-family: pop;
  src: url(../assets/FontsFree-Net-Poppins-Medium.ttf);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #190306;
  overflow: hidden;
  z-index: 0;
}

.menu-admin {
  width: 100%;
  height: 70vh;
}

.menu-admin .option-admin {
  position: absolute;
  width: 100%;
  height: 70vh;
}

.menu-admin .option-admin-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-admin .option-admin-1 .container-option-1 {
  width: 90vw;
  height: 70vh;
  display: none;
}

.menu-admin .option-admin-1 .container-option-1 div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-admin .option-admin-1 .container-option-1 div .card-option {
  width: 25vw;
  height: 40vh;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}

.menu-admin .option-admin-1 .container-option-1 div .card-option span {
  width: 80px;
  height: 50px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  top: -20px;
  left: 0;
}

#img-proxy {
  width: 50%;
  position: absolute;
  top: -28px;
  right: 0;
}
#option-name-proxy {
  height: 2vh;
  position: absolute;
  bottom: 8vh;
  right: 20px;
  font-size: 1.3rem;
}
#img-red-left {
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#img-acl {
  width: 50%;
  position: absolute;
  top: -28px;
  right: 0;
  z-index: 5;
}
#option-name-acl {
  height: 2vh;
  position: absolute;
  bottom: 10vh;
  left: 20px;
  font-size: 1.3rem;
}
#img-red-right {
  width: 20%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu-admin .option-admin-2 {
  background-color: bisque;
  display: none;
}

.menu-admin .option-admin-3 {
  background-color: blanchedalmond;
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-admin .option-admin-1 .container-option-1 {
    flex-direction: column;
  }
  .menu-admin .option-admin-1 .container-option-1 div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-admin .option-admin-1 .container-option-1 div .card-option {
    width: 40vw;
    height: 25vh;
    background-color: #ffffff;
    border-radius: 10px;
  }
}

.container-progress-bar {
  position: absolute;
  top: 20%;
  left: 3vw;
  width: 30px;
  height: 50vh;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-progress-bar .progress-bar {
  width: 1px;
  height: 90%;
  background-color: #ffffff;
}

.container-navigate {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-navigate hr {
  width: 30%;
  background-color: #ffffff;
}

.container-navigate .btn {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin: 10px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-navigate .btn:hover {
  scale: 1.2;
  transition: all 0.3s ease-in;
  background-color: #ffffff;
  color: #1e1e1e;
}
